/* --- about section styling -- */
.about-section {
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
    padding: 0 1%;
    padding-bottom: 20px; 
}

/* --- middle section -- */
.mid-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.mid-section div {
    line-height: 2;
    width: 48%;
    padding: 0 1%;
    padding-bottom: 20px;
    margin-bottom: 50px; 
    border-bottom: 1px dashed black;
}
.mid-section h3 {
    line-height: 1;
}

.mid-section .last-part {
    flex-grow: 1;
    border: none;
}
    /* styling the button */

button {
    padding: 8px 20px;
    margin-top: 15px;
    border-radius: 10px;
    background: white;
    outline: none;
    border: 2px solid black;
    font-weight: bold;
}

footer {
    margin-bottom: 40px;
}